@charset "UTF-8";

/*-------------------------------------------
　全体に関わるレイアウト設定
-------------------------------------------*/
html {
    font-size: 100%;
}
body {
  color: #383e45;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
}
  
 
/*-------------------------------------------
　header のレイアウト設定
-------------------------------------------*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    img{
        width: 120px;
        line-height: 1px;
        padding: 10px 0;
    }
    ul{
        display: flex;
        padding: 10px 0;
        li{
            margin-left: 30px;
            a{
                color: #24292e;
                :hover{opacity: 0.7;}
            }
        }
    }
}
 

/*-------------------------------------------
　mainのレイアウト設定
-------------------------------------------*/
#topimg {
    margin-bottom: 80px;
    img{
        width: 100%;
        max-width: 1920px;
        height: 600px;
        object-fit: cover;
    }
}
 

/*-------------------------------------------
　sectionごとのレイアウト設定
-------------------------------------------*/
#about{
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-right: 30px;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text{
        text-align: left;
    }
}
 
  #cooking{
    ul{
        display: flex;
        justify-content: space-around;
    }
    li{width: 30%;}
  }

/*-------------------------------------------
　footerのレイアウト設定
-------------------------------------------*/
#footer {
    text-align: center;
  }
 

/*-------------------------------------------
　スマートフォンのレイアウト設定
-------------------------------------------*/
@media screen and (max-width: 600px) {

    /*-------------------------------------------
    Mainvisual
    -------------------------------------------*/
    #mainvisual img {
      height: calc(100vh - 60px);
    }
  
    /*-------------------------------------------
    About
    -------------------------------------------*/
    #about .content {
      flex-direction: column;
    }
    #about img {
      margin-right: 0;
    }
  
    /*-------------------------------------------
    Cooking
    -------------------------------------------*/
    #Cooking ul {
      flex-direction: column;
    }
    #Cooking li {
      width: 100%;
      margin-bottom: 30px;
    }
  }


